[package]
name = "api"
version = "0.1.0"
edition = "2024"

[dependencies]
uncovr = { path = "../.." }
serde = { version = "1.0", features = ["derive"] }
tokio = { version = "1.35", features = ["full"] }
